<div
  class="flex flex-col gap-3 mb-[300px] px-3 pb-3 basis-[400px] bg-white shadow-lg rounded-lg"
>
  <button class="h-[15px] w-[15px]" (click)="handleClose()">&#10005;</button>
  <div class="flex items-start gap-3 mt-3">
    <img src="../../../assets/default-pfp.svg" class="h-[50px] w-[50px]" />
    <div class="flex flex-col">
      <div class="flex">
        <p>
          <span class="font-bold"
            >{{ comment?.profile?.firstName }}
            {{ comment?.profile?.lastName }}</span
          >
          <span class="text-gray-500 text-sm">
            @{{ comment?.profile?.at }}
          </span>
        </p>
      </div>
      <p>{{ comment?.content }}</p>
      <p>
        <span class="text-gray-500 text-sm">Replying to</span
        ><span class="text-blue-500">@{{ comment?.profile?.at }}</span>
      </p>
    </div>
  </div>
  <div class="flex flex-col gap-1">
    <div class="flex gap-3">
      <img src="../../../assets/default-pfp.svg" class="h-[50px] w-[50px]" />
      <input
        type="text"
        placeholder="Tweet your reply!"
        class="border rounded-sm px-3 py-1 w-full"
        [(ngModel)]="replyText"
      />
    </div>
    <button
      (click)="handleReply()"
      class="bg-blue-500 hover:bg-blue-400 transition-all ml-auto px-3 py-1 text-white rounded-lg shadow-sm"
    >
      Reply
    </button>
  </div>
</div>
