<div class="grow border-r-2 flex flex-col min-h-full items-center">
  <div class="ml-[30px] grow flex flex-col justify-between">
    <div>
      <img
        src="../../../assets/twitter_logo.svg"
        class="h-[50px] w-[50px] ml-3"
      />

      <div class="flex flex-col gap-2 items-start pr-[60px] my-3">
        <button
          *ngFor="let button of buttons"
          (click)="button.onClick ? button.onClick() : null"
          class="text-xl hover:bg-gray-200 px-2 py-2 rounded-md transition-all"
        >
          {{ button.name }}
        </button>
      </div>

      <button
        (click)="handleOpenPostModal()"
        class="bg-blue-500 hover:bg-blue-600 transition-all rounded-md px-2 py-3 font-bold text-white w-[80%]"
      >
        Tweet
      </button>
    </div>
    <div
      class="flex gap-3 py-3 px-2 mb-2 rounded-lg hover:bg-gray-200 transition-all"
    >
      <img src="../../../assets/default-pfp.svg" class="h-[55px] w-[55px]" />
      <div class="flex flex-col">
        <p>{{ (user$ | async)?.firstName }}</p>
        <p class="text-gray-500 font-bold">@{{ (user$ | async)?.at }}</p>
      </div>
    </div>
  </div>
</div>
