@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply m-0;
    @apply p-0;
    @apply box-border;
    @apply h-full;
    @apply w-full;
  }

  html {
    @apply h-screen;
    @apply w-full;
    @apply font-roboto;
  }

  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
  }

  #root {
    display: flex;
    height: 100%;
  }

  /* app-page {
    flex-grow: 1;
  } */

  app-layout {
    flex-grow: 1;
    overflow: auto;
  }
}
