<ng-container *ngIf="error || validationErrors">
  <!-- add remove error to pop up -->
  <app-pop-up
    type="error"
    [content]="error"
    [validationErrors]="validationErrors"
  ></app-pop-up>
</ng-container>

<div
  *ngIf="replyingToTweet$ | async as replyingToTweet"
  class="z-40 flex justify-center items-center absolute left-2/4 top-1/4 -translate-x-2/4 -translate-y-1/4 bg-gray-300/40 h-full w-full"
>
  <app-replying-tweet-modal
    [tweet]="replyingToTweet"
    (close)="handleCloseTweetModal()"
    (reply)="replyToTweet($event, replyingToTweet._id)"
  />
</div>

<div
  *ngIf="replyingToReply$ | async as replyingToReply"
  class="z-40 flex justify-center items-center absolute left-2/4 top-1/4 -translate-x-2/4 -translate-y-1/4 bg-gray-300/40 h-full w-full"
>
  <app-replying-reply-modal
    [comment]="replyingToReply"
    (close)="handleCloseReplyingTo()"
    (reply)="replyToReply($event, replyingToReply._id)"
  />
</div>

<div
  *ngIf="postModalIsOpen"
  class="z-40 flex justify-center items-center absolute left-2/4 top-1/4 -translate-x-2/4 -translate-y-1/4 bg-gray-300/40 h-full w-full"
>
  <div
    class="flex flex-col gap-3 mb-[300px] px-3 pb-3 basis-[400px] bg-white shadow-lg rounded-lg"
  >
    <button class="h-[15px] w-[15px]" (click)="handleCloseTweetModal()">
      &#10005;
    </button>
    <div class="flex flex-col gap-1">
      <div class="flex gap-3">
        <img src="../../../assets/default-pfp.svg" class="h-[50px] w-[50px]" />
        <input
          type="text"
          placeholder="What is happening?"
          class="border rounded-sm px-3 py-1 w-full"
          [(ngModel)]="postText"
        />
      </div>
      <button
        (click)="post()"
        class="bg-blue-500 hover:bg-blue-400 transition-all ml-auto px-3 py-1 text-white rounded-lg shadow-sm"
      >
        Tweet
      </button>
    </div>
  </div>
</div>

<div
  *ngIf="retweetingModal$ | async as retweetTo"
  class="z-40 flex justify-center items-center absolute left-2/4 top-1/4 -translate-x-2/4 -translate-y-1/4 bg-gray-300/40 h-full w-full"
>
  <div
    class="flex flex-col gap-3 mb-[300px] px-3 pb-3 basis-[400px] bg-white shadow-lg rounded-lg"
  >
    <button class="h-[15px] w-[15px]" (click)="handleCloseRetweetModal()">
      &#10005;
    </button>
    <div class="flex flex-col gap-1">
      <div class="flex gap-3">
        <img src="../../../assets/default-pfp.svg" class="h-[50px] w-[50px]" />
        <input
          type="text"
          placeholder="Add a comment!"
          class="border rounded-sm px-3 py-1 w-full"
          [(ngModel)]="retweetText"
        />
      </div>
      <div class="flex items-start gap-3 mt-3">
        <img src="../../../assets/default-pfp.svg" class="h-[50px] w-[50px]" />
        <div class="flex flex-col">
          <div class="flex">
            <p>
              <span class="font-bold"
                >{{ retweetTo.profile.firstName }}
                {{ retweetTo.profile.lastName }}</span
              >
              <span class="text-gray-500 text-sm">
                @{{ retweetTo.profile.at }}
              </span>
            </p>
          </div>
          <p>{{ retweetTo.content }}</p>
        </div>
      </div>
      <button
        (click)="retweet(retweetTo)"
        class="bg-blue-500 hover:bg-blue-400 transition-all ml-auto px-3 py-1 text-white rounded-lg shadow-sm"
      >
        Tweet
      </button>
    </div>
  </div>
</div>

<div class="flex h-full relative overflow-scroll">
  <app-user-sidebar class="flex-[1.2] sticky left-0 top-0" />
  <div class="flex-[2]">
    <router-outlet></router-outlet>
  </div>
  <app-trending-sidebar class="flex-[1.3] sticky right-0 top-0" />
</div>
