<div class="flex items-center gap-5 pt-3 px-3">
  <button
    (click)="back()"
    class="border-2 rounded-md px-3 py-1 hover:bg-gray-300"
  >
    Back
  </button>
  <p class="font-bold text-xl">Tweet</p>
</div>

<!-- main tweet -->
<ng-container *ngIf="tweet$ | async as tweet">
  <app-tweet-container
    (click)="navigate(tweet._id, 'tweet')"
    [tweet]="tweet"
    (like)="handleLikeTweet(tweet._id)"
    (reply)="handleOpenReplyToTweetModal(tweet)"
    (retweet)="handleOpenRetweetModal(tweet)"
  />
</ng-container>

<!-- parent replies of the currently open reply -->
<ng-container *ngIf="parents$ | async as parents">
  <div class="flex flex-col">
    <ng-container *ngFor="let reply of parents">
      <app-reply-container
        (click)="navigate(reply._id, 'reply')"
        [comment]="reply"
        (like)="handleLikeReply(reply._id)"
        (reply)="handleOpenReplytoReplyModal(reply)"
        (retweet)="handleOpenRetweetModal(reply)"
      />
    </ng-container>
  </div>
</ng-container>

<!-- currently open reply -->
<ng-container *ngIf="reply$ | async as reply">
  <app-open-tweet-container
    [content]="reply"
    (like)="handleLikeReply(reply._id)"
    (reply)="handleReply($event)"
    (retweet)="handleOpenRetweetModal(reply)"
  />
</ng-container>

<!-- children replies of the currently open reply -->

<ng-container *ngIf="children$ | async as children">
  <div class="flex flex-col">
    <ng-container *ngFor="let reply of children">
      <app-reply-container
        (click)="navigate(reply._id, 'reply')"
        [comment]="reply"
        (like)="handleLikeReply(reply._id)"
        (reply)="handleOpenReplytoReplyModal(reply)"
        (retweet)="handleOpenRetweetModal(reply)"
      />
    </ng-container>
  </div>
</ng-container>

<ng-template #loading>
  <p class="text-center">Loading...</p>
</ng-template>
