<app-open-tweet-container
  [content]="tweet"
  (like)="like($event, 'tweet')"
  (reply)="reply($event)"
/>
<!-- Display replies if available -->
<div *ngIf="replies" class="flex flex-col">
  <ng-container *ngFor="let reply of replies">
    <app-reply-container
      [comment]="reply"
      (like)="like($event, 'reply')"
      (reply)="commentReply($event)"
      (click)="navigateToReply(reply._id)"
    />
  </ng-container>
</div>

<ng-template #loading>
  <p class="text-center">Loading...</p>
</ng-template>
