<div class="flex items-center gap-5 pt-3 px-3">
  <button
    (click)="back()"
    class="border-2 rounded-md px-3 py-1 hover:bg-gray-300"
  >
    Back
  </button>
  <p class="font-bold text-xl">Tweet</p>
</div>

<ng-container *ngIf="tweet$ | async as tweet">
  <app-open-tweet-container
    [content]="tweet"
    (like)="handleLikeTweet($event)"
    (reply)="reply($event)"
    (retweet)="handleOpenRetweetModal(tweet)"
  />
</ng-container>

<!-- Display replies if available -->
<ng-container *ngIf="replies$ | async as replies">
  <div class="flex flex-col">
    <ng-container *ngFor="let reply of replies">
      <app-reply-container
        (click)="navigateToReply(reply._id)"
        [comment]="reply"
        (like)="handleLikeReply($event)"
        (reply)="handleOpenReplyModal(reply)"
        (retweet)="handleOpenRetweetModal(reply)"
      />
    </ng-container>
  </div>
</ng-container>

<ng-template #loading>
  <p class="text-center">Loading...</p>
</ng-template>
