<div class="flex gap-3 hover:bg-gray-200 transition-all p-3 cursor-pointer">
  <img
    src="../../../assets/default-pfp.svg"
    class="w-[50px] h-[50px] bg-gray-500 rounded-full"
  />
  <div class="flex flex-col w-full">
    <div class="flex flex-col">
      <p>
        <span class="font-bold"
          >{{ tweet?.profile?.firstName }} {{ tweet?.profile?.lastName }}</span
        ><span class="text-gray-400 pl-2">@{{ tweet?.profile?.at }}</span>
      </p>
    </div>
    <p class="pb-1">{{ tweet?.content }}</p>
    <div class="flex justify-between items-center pr-[300px] text-gray-500">
      <button class="flex gap-2 hover:text-blue-400">
        <app-svg-reply fillColor="gray" class="h-5 w-5" />
        <p>{{ tweet?.repliesCount }}</p>
      </button>
      <button class="flex gap-2 hover:text-green-400">
        <app-svg-retweet
          [fillColor]="tweet?.isRetweeted ? 'green' : 'gray'"
          class="h-5 w-5"
        />
        <p>{{ tweet?.retweetsCount }}</p>
      </button>
      <button class="flex gap-2 hover:text-red-400">
        <app-svg-like
          [fillColor]="tweet?.isLiked ? 'red' : 'gray'"
          class="h-4 w-4"
        />
        <p>{{ tweet?.likesCount }}</p>
      </button>
    </div>
  </div>
</div>
